#exceptional-houses,
#feature-places {

  .row-1 {
    display: flex;
    align-items: center;
    padding: 92px 16px 0;

    h2 {
      flex: 1;
      color: $darkgray;
    }

    span,
    fa-long-arrow-alt-right {
      color: $darkgray;
    }
  }

  .row-2 {
    margin-top: 24px;
    display: flex;

    .place {
      margin: 16px;
      border-radius: 6px;
      flex: 1;

      .place-image {
        background-image: url("http://via.placeholder.com/320x440");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 440px;
        position: relative;
        display: flex;
        align-items: flex-end;

        .place-actions {
          background: transparent;
          width: 100%;
          padding: 30px;
          display: flex;

          span {
            color: $white;
            font-size: 22px;
          }

          .fa-heart {
            margin-right: 12px;
            color: $white;
            font-size: 30px;
          }

          .fa-bookmark {
            margin-left: auto;
            color: $white;
            font-size: 30px;
          }
        }
      }

      .place-description {
        padding: 30px;
        box-shadow: 0 7px 7px -2px $gray-white;

        h3 {
          margin: 0;
          color: $darkgray;
        }

        p {
          color: $gray;
          text-align: justify;
          line-height: 24px;
          font-size: 17px;
        }
      }
    }
  }
}

#exceptional-houses {
  padding: 132px 0 92px;
}
