@import 'variables';
@import 'colors';
@import 'general';
@import 'intro';
@import 'feature';
@import 'destinations';

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}

* {
  box-sizing: border-box;
}
